<template>
  <div class="container mx-auto">
    <h1 class="mt-8 text-2xl">Todo List</h1>

    <div class="mt-3">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6 space-y-4 px-1"
             style="height: 500px">
          <div v-for="(todo, index) in state.todos"
               :key="index"
               class="p-8 bg-white shadow-md rounded flex items-center justify-between"
               :class="{'bg-green-200': todo.done}">
            <div>
              <div id="todo-text">{{ todo.text }}</div>

            </div>

          </div>
          <div v-if="state.todos.length === 0"
               class="px-8 py-16 bg-white text-gray-700 shadow-md rounded text-sm" id="emptylist">

          </div>
        </div>

        <div class="col-span-6">
          <div class="p-8 bg-white shadow-md rounded">
            <h2 class="text-xl">Add a todo</h2><br />
            <input type="text"
                   v-model="state.todoText"
                   class="w-4/6 p-2 mt-4 border rounded mr-2">
            <button @click="addTodo" class="w-1/6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 space-x-2 rounded">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { defineComponent, reactive } from "vue";

export default defineComponent({
  setup() {
    const state = reactive({
      todos: [],
      todoText: "",
    });

    function addTodo() {
      axios.post('store-todo', {
        text: state.todoText
      }).then(() => {
        state.todoText = "";
        getTodos();
      });
    }




    function getTodos() {
      axios.get('todos')
        .then(response => {
          state.todos = response.data;
        });
    }

    getTodos();

    return {
      state,
      addTodo,
    };
  },
});
</script>
