<template>
  <nav class="bg-blue-600 text-white">
    <div class="container mx-auto">
      <div class="flex items-center">
        <router-link to="/"
                     class="inline-block px-16 py-4 hover:bg-blue-500 duration-300">Home</router-link>

      </div>
    </div>
  </nav>
  <router-view />
</template>